{% include 'snippets/head.html' %}
<body>
  <!-- navbar -->
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Funny Movies</a>
      {% if not user.is_authenticated %}
        <form action="/login-register" method="post" class="form-inline my-2 my-lg-0 float-right">
          {% csrf_token %}
          <input class="form-control mr-sm-2" name="email" type="email" placeholder="email" aria-label="Email">
          <input class="form-control mr-sm-2" name="password" type="password" placeholder="password" aria-label="Password">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login / Register</button>
        </form>
      {% else %}
        <strong>{{ user.email }}</strong>
      {% endif %}
    </div>
  </nav>
  <!-- / navbar -->
</body>
