{% include 'snippets/head.html' %}
{% load static %}

<body>
  <!-- navbar -->
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Funny Movies</a>
      {% if not user.is_authenticated %}
        <form id="form-login" action="/login-register" method="post" class="form-inline my-2 my-lg-0">
          {% csrf_token %}
          <input class="form-control mr-sm-2" name="email" type="email" placeholder="email" aria-label="Email">
          <input class="form-control mr-sm-2" name="password" type="password" placeholder="password" aria-label="Password">
          <button id="btn-login" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login / Register</button>
        </form>
      {% else %}
        <span> Welcome {{ user.email }}</span>
        <a class="btn btn-primary my-2 my-sm-0" href="/share">Share a movie</a>
        <button id="btn-logout" class="btn btn-outline-secondary my-2 my-sm-0" type="button">Logout</button>
      {% endif %}
    </div>
  </nav>
  <!-- / navbar -->
  <main>
    Main
  </main>
  <script type="text/javascript">
    var crsf_token = "{{ csrf_token }}";
  </script>
  <script src="{% static 'app.js' %}" charset="utf-8"></script>
</body>
