p {
  margin-bottom: 5px;
}

.navbar {
  background-color: #27133a !important;
  box-shadow: 5px 5px 5px 0px #8e8e8e;
}

.navbar-brand {
  color: #fff;
}

.welcome {
  color: #fff;
}

.main {
  padding: 30px;
}

.video-item__iframe {
  position: relative;
  padding-bottom: 30%;
  height: 0;
  overflow: hidden;
}

@media (max-width: 769px) {
  .video-item__iframe {
    padding-bottom: 50%;
  }
}

.video-item__iframe iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

#btn-share {
  margin-left: 50%;
  transform: translateX(-50%);
}

#form-share-video {
  width: 500px;
  margin: auto;
  padding: 20px;
  box-shadow: 5px 5px 10px 1px #27133a;
}
